@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
body{
    background-color: rgb(209, 190, 197);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Mynerve";
}
#main{
    width: 100%;
    height: 100%;
    background-color:rgb(191, 12, 155);
    border: 5px solid deeppink;
    display: flex;
    flex-direction: column;
    font-family:"Mynerve";
    position: absolute;
}
#start{
    width: 100px;
    height: 100px;
    border: 5px solid peachpuff;
    border-radius: 20px;
    background-color: palevioletred;
}
#start:active{
    transform: scale(0.95);
}